.header
{
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}
.section_3
{
    text-align: center;
    align-items: center;
}

.row
{
    padding-top: 30px;
    align-items: center;
}